@media only screen and (min-width: 426px) and (max-width: 2000px) {
  .work-img-back {
    width: 1518px;
    margin-left: -7px;
    margin-top: -7px;
  }
  .work-img-back1 {
    width: 1518px;
    margin-left: -7px;
    margin-top: -11px;
  }
  .rectangle5,
  .rectangle6 {
    position: absolute;
    width: 203px;
    height: 4px;
    top: 2515px;
    background: #ffa128;
    border-radius: 25px;
  }
  .rectangle5 {
    left: 356px;
  }
  .rectangle6 {
    left: 926px;
  }
  .work-span {
    position: absolute;
    width: 301px;
    height: 42px;
    left: 602px;
    top: 2495px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
  }

  .left1,
  .left2,
  .left3 {
    position: absolute;
    width: 378px;
    height: 210px;
    left: 0px;
  }
  .left1 {
    top: 2610px;
  }
  .left2 {
    top: 2880px;
  }
  .left3 {
    top: 3160px;
  }
  .right1 {
    position: absolute;
    width: 346px;
    height: 230px;
    left: 1172px;
    top: 2740px;
  }
  .right2 {
    position: absolute;
    width: 338px;
    height: 226px;
    left: 1180px;
    top: 3050px;
  }
  .right3 {
    position: absolute;
    width: 336px;
    height: 226px;
    left: 1182px;
    top: 3350px;
  }
  .span1,
  .span2,
  .span3,
  .span4,
  .span5,
  .span6 {
    position: absolute;
    height: 85px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 85px;
    text-align: center;
    color: #ffffff;
  }
  .span1 {
    width: 26px;
    left: 30px;
    top: 2694px;
  }
  .span2 {
    width: 38px;
    left: 1240px;
    top: 2840px;
  }
  .span3 {
    width: 39px;
    left: 20px;
    top: 2970px;
  }
  .span4 {
    width: 42px;
    left: 1240px;
    top: 3150px;
  }
  .span5 {
    width: 40px;
    left: 20px;
    top: 3250px;
  }
  .span6 {
    width: 39px;
    left: 1240px;
    top: 3450px;
  }
  .h21,
  .h22,
  .h23,
  .h24,
  .h25,
  .h26 {
    position: absolute;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
  }
  .h21 {
    width: 60px;
    height: 29px;
    left: 83px;
    top: 2678px;
  }
  .h22 {
    width: 119px;
    height: 29px;
    left: 1300px;
    top: 2820px;
  }
  .h23 {
    width: 131px;
    height: 29px;
    left: 83px;
    top: 2949px;
  }
  .h24 {
    width: 80px;
    height: 29px;
    left: 1300px;
    top: 3119px;
  }
  .h25 {
    width: 83px;
    height: 29px;
    left: 83px;
    top: 3219px;
  }
  .h26 {
    width: 104px;
    height: 29px;
    left: 1300px;
    top: 3419px;
  }
  .p3,
  .p4,
  .p5,
  .p6,
  .p7,
  .p8 {
    position: absolute;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }
  .p3 {
    width: 181px;
    height: 64px;
    left: 83px;
    top: 2717px;
  }
  .p4 {
    position: absolute;
    width: 200px;
    height: 80px;
    left: 1300px;
    top: 2857px;
  }
  .p5 {
    position: absolute;
    width: 220px;
    height: 80px;
    left: 83px;
    top: 2987px;
  }
  .p6 {
    position: absolute;
    width: 200px;
    height: 80px;
    left: 1300px;
    top: 3157px;
  }
  .p7 {
    position: absolute;
    width: 200px;
    height: 80px;
    left: 83px;
    top: 3257px;
  }
  .p8 {
    position: absolute;
    width: 200px;
    height: 64px;
    left: 1300px;
    top: 3457px;
  }
  /* DISPLAY */
  .work-big {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  /* DISPLAY */
  .work-img-back1,
  .work-img-back {
    display: none;
  }
  /*  */
  .rectangle5,
  .rectangle6 {
    position: absolute;
    width: 60px;
    height: 4px;
    top: 2300px;
    background: #ffa128;
    border-radius: 25px;
  }
  .rectangle5 {
    left: 8px;
  }
  .rectangle6 {
    left: 260px;
  }
  .work-span {
    position: absolute;
    width: 301px;
    height: 42px;
    left: 16px;
    top: 2280px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
  }
  .work-big {
    display: block;
    position: absolute;
    width: 312px;
    height: 1200px;
    left: 7px;
    top: 2274px;
  }
  .left1,
  .left2,
  .left3 {
    position: absolute;
    width: 220px;
    height: 150px;
    left: 0px;
  }
  .left1 {
    top: 2368px;
  }
  .left2 {
    top: 2678px;
  }
  .left3 {
    top: 2968px;
  }
  .right1 {
    position: absolute;
    width: 220px;
    height: 142px;
    top: 2530px;
    left: 100px;
  }
  .right2 {
    position: absolute;
    width: 220px;
    height: 142px;
    top: 2830px;
    left: 100px;
  }
  .right3 {
    position: absolute;
    width: 220px;
    height: 142px;
    top: 3130px;
    left: 100px;
  }
  .services-img4 {
    /* margin-left: -8px; */
    margin-top: -10px;
    width: 537px;
  }
  .services-img5 {
    display: block;
    /* margin-left: -8px; */
    margin-top: -10px;
    width: 321px;
    /* height: 1104px; */
  }
  .services-img6 {
    /* margin-left: -8px; */
    margin-top: -10px;
    margin-bottom: -14px;
    width: 321px;
  }
  .services-img7 {
    /* margin-left: -8px; */
    margin-top: 9px;
    width: 321px;
  }
  .services-img8 {
    /* margin-left: -8px; */
    margin-top: -10px;
    width: 321px;
    margin-bottom: -14px;
  }
  .span1,
  .span2,
  .span3,
  .span4,
  .span5,
  .span6 {
    position: absolute;
    height: 85px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 85px;
    text-align: center;
    color: #ffffff;
  }
  .span1 {
    width: 26px;
    left: 0px;
    top: 2411px;
  }
  .span2 {
    width: 38px;
    left: 120px;
    top: 2571px;
  }
  .span3 {
    width: 39px;
    left: 0px;
    top: 2735px;
  }
  .span4 {
    width: 42px;
    left: 130px;
    top: 2876px;
  }
  .span5 {
    width: 40px;
    left: -4px;
    top: 3025px;
  }
  .span6 {
    width: 39px;
    left: 118px;
    top: 3170px;
  }
  .h21,
  .h22,
  .h23,
  .h24,
  .h25,
  .h26 {
    position: absolute;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 29px;
    color: #ffffff;
  }
  .h21 {
    width: 60px;
    height: 29px;
    left: 65px;
    top: 2389px;
  }
  .h22 {
    width: 119px;
    height: 29px;
    left: 200px;
    top: 2550px;
  }
  .h23 {
    width: 131px;
    height: 29px;
    left: 62px;
    top: 2703px;
  }
  .h24 {
    width: 80px;
    height: 29px;
    left: 226px;
    top: 2843px;
  }
  .h25 {
    width: 83px;
    height: 29px;
    left: 75px;
    top: 2992px;
  }
  .h26 {
    width: 104px;
    height: 29px;
    left: 213px;
    top: 3149px;
  }
  .p3,
  .p4,
  .p5,
  .p6,
  .p7,
  .p8 {
    position: absolute;
    font-family: "Gilroy-regular";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #ffffff;
  }
  .p3 {
    width: 139px;
    height: 65px;
    left: 31px;
    top: 2421px;
  }
  .p4 {
    position: absolute;
    width: 150px;
    height: 80px;
    left: 166px;
    top: 2582px;
  }
  .p5 {
    position: absolute;
    width: 159px;
    height: 80px;
    left: 40px;
    top: 2732px;
  }
  .p6 {
    position: absolute;
    width: 141px;
    height: 80px;
    left: 175px;
    top: 2875px;
  }
  .p7 {
    position: absolute;
    width: 171px;
    height: 80px;
    left: 37px;
    top: 3025px;
  }
  .p8 {
    position: absolute;
    width: 155px;
    height: 64px;
    left: 161px;
    top: 3185px;
  }
}
